<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <a href="/user/<%= id %>/refresh"><button>refresh</button></a>
    <table>
        <thead>
            <th>#</th>
            <th>CompanyName</th>
            <th>Changes</th>
            <th>Prices</th>
        </thead>
        <tbody>
            <% data.forEach((el, index)=>{ %>
               <tr>
                   <td><%= index+1 %></td>
                   <td><%= el.companyName %></td>
                   <td><%= el.changes %></td>
                   <td><%= el.price %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <div><a href="user/<%= data.id %>/buy">buy it now!</a></div>

</body>
</html>